body {
    margin: 0;
    padding: 0;
}

.left-container {
    background-color: wheat;
    position: fixed;
    width: 400px;
    height: 100vh;
}

.photo-contact {
    position: absolute;
    top: 100px;
    text-align: center;
}

.photo {
    width: 50%;
    border-radius: 50%;
}

.contact-button {
    width: 50%;
    background-color: white;
    border-radius: 14px;
    margin-bottom: 15px;
    font-size: 1,2rem;
    font-weight: bold;
    padding: 10px;
    -webkit-border-radius: 14px;
    -moz-border-radius: 14px;
    -ms-border-radius: 14px;
    -o-border-radius: 14px;
}

.contact-button:hover {
    background-color: black;
    color: white;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.right-container {
    position: absolute;
    left: 400px;
}

.top-bar {
    padding-top: 50px;
    padding-left: 100px;
}

.title {
    font-style: italic;
    font-size: 1.3rem;
}

.list-menu {
    float: right;
    padding-right: 50px;
}

.menu {
    font-size: 1,1rem;
    padding: 0 10px;
}

a {
    text-decoration: none;
    color: black;
}

#profile {
    padding-top: 60px;
    padding-left: 100px;

}

#about {
    padding-top: 100px;
    padding-left: 100px;
    padding-right: 50px;
}

#experience {
    padding-top: 250px;
    padding-left: 100px;
}

#achievements {
    padding-top: 250px;
    padding-left: 100px;
}

#contact {
    padding-top: 250px;
    padding-left: 100px;
}

#footer {
    padding-top: 150px;
    text-align: center;
}

p, li {
    line-height: 200%;
}